@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  gap: 34px;
  background-color: black;
}

nav a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

a li {
  padding: 0 23px;
}

.red {
  background: red;
  color: white;
}
